# ignore vscode settings
.vscode

# ignore python cache
__pycache__/
*.pyc

# ignore jupyter notebook checkpoints
.ipynb_checkpoints/

# ignore setup background
LungScore.egg-info/
build/
dist/

# ignore model weights
model_weights/
Modelweights_AILH

# ignore figures
figures/
lung_cancer_data/

# R plots
Rplots.pdf

# csv
*.csv

# csv
*.jpeg
*.png
*.pth
*.pt


# python files
# dcm to nrrd
LungScore/preprocessing/dcm_to_nrrd_pipeline.py
LungScore/preprocessing/dcm_to_nrrds.py
config/dcm_to_nrrd_pipeline.yaml

