# ignore vscode settings
.vscode

# ignore python cache
__pycache__/
*.pyc

# ignore jupyter notebook checkpoints
.ipynb_checkpoints/

# ignore setup background
lungage.egg-info/
AI_LUNG_HEALTH.egg-info/

# ignore model weights
model_weights/

# ignore figures
figures/

# R plots
Rplots.pdf

# csv
*.csv

# csv
*.jpeg
*.png
*.pth
*.pt

# ignore
lung_cancer_data/

# python files
preprocessing/dcm_to_nrrd_pipeline.py
preprocessing/dcm_to_nrrds.py