# ignore vscode settings
.vscode

# ignore python cache
__pycache__/
*.pyc

# ignore jupyter notebook checkpoints
.ipynb_checkpoints/

# ignore setup background
lungage.egg-info/
AI_LUNG_HEALTH.egg-info/